fastapi==0.115.12
geosupport-suggest==0.1.0
python-geosupport==1.1.0
httpx==0.28.1
numpy==2.2.4
pydantic==2.11.1
pydantic-settings==2.7.0
psycopg==3.2.6
pytest==8.2.0
requests==2.32.3
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pytz==2025.2
shapely==2.0.7
slowapi==0.1.9
sqlalchemy==2.0.40
tqdm==4.67.1
uvicorn==0.34.0
